*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #130854;
    color:white;
    scroll-behavior: smooth;
}
.clicks ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: xx-large;
    overflow: hidden;
}
.clicks a{
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    margin: auto;
}
.clicks a:hover{
    background-color: #0b052f;
}
.clicks li{
    float: left;
}
.clicks-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paybutton{
    font-size: 50px;
    background-color: rgb(232, 2, 2);
    color: rgb(255, 255, 255);
    border: 5px solid white;
    padding: 20px 10px;
    display: block; margin: auto;
    cursor: pointer;
}
.videos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
}
.videos{
    font-size: xx-large;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 5px solid white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
}
/*VERY IMPORTANT FOR BUTTONS PUT "SOLID" AFTER THICKNESS FOR BORDER THEN PUT YOUR COLOR AFTER YOU PUT SOLID*/

#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(0, 100%, 47%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: hsl(0, 100%, 27%)
}
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: #221085;
    color: white;
    padding: 10px 20px;
    border: 1.5px solid white;
    cursor: pointer;
    font-size: 25px;
}
.dropdown a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
    background-color: #221085;
    font-size: 25px;
}
.dropdown .seasonsmoons{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    color: white;
}
.dropdown:hover .seasonsmoons{
    display: block;
}
.dropdown:hover button{
    background-color: #130854;
}
.dropdown a:hover{
    background-color: #130854
}
.clearname{
    font-size: 40px;
    display: block;
    margin: auto;
    background-color: rgb(110, 107, 107);
    transition: background-color 0.25s;
    padding: 5px;
    border: 5px solid white;
}
.clearname:hover{
    background-color: rgb(66, 65, 65);
    cursor: pointer;
}
.dont{
    font-size: 8.5px;
}
.same{
    display: inline-block;
    text-align: center;
}
.mapstext{
    font-size: 50px;
}
.mapsintro{
    background-color: #02a97a;
    border: 5px solid black;
    padding: 5px;
}
.posting{
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    display: block; 
    margin: auto; 
    border: 2px solid white;
    background-color: black;
    transition: background-color 0.25s;
}
.posting:hover{
    background-color: #6d6d6d;
}
.note{
    font-size: 20px;
    text-align: center;
    position: relative;
    margin: auto;
    cursor: default;
}
.theactualnote{
    position: absolute;
    display: none;
    background-color: #a79900;
    left: 50%;
    right: 50%;
    bottom: 100%;
    width: 500px;
    height: 200px;
    padding: 10px;
    border: 2px solid black;
    margin: auto;
    transition: ease-in;
}
.note:hover .theactualnote{
    display: block;
    margin: auto;
}
.screenshot{
    display: block;
    margin: auto;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    background-color: black;
    transition: background-color 0.25s;
}
.screenshot:hover{
    background-color: #02a97a;
    cursor: pointer;
}
/* this is for if you want to make the clock sit on the right on the same line as the date
.test{
    position: relative;
}
.center{
    text-align: center;
}
.right{
    position: absolute;
    right: 0;
    top: 0;
} */

